<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">ADMİN</div>
                <a class="nav-link" href="/admin/admin-index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Admin Paneli
                </a>
                <div class="sb-sidenav-menu-heading">Arayüz</div>
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#pagesCollapseISLEM1" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Kullanıcı İşlemleri
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseISLEM1" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/users-delete-page">Kullanıcı Silme</a>
                        </nav>
                    </div>

                    <!-- <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                        data-bs-target="#pagesCollapseISLEM2" aria-expanded="false" aria-controls="pagesCollapseError">
                        İŞLEM 2
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseISLEM2" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#">İŞLEM 2 </a>
                        </nav>
                    </div> -->
                    
                </nav>
            </div>
        </div>
    </nav>
</div>