<div class="col-lg-6 mb-5 mb-lg-0">
  <div class="contact-form">
    <div id="success"></div>
    <form name="sentMessage" id="contactForm" novalidate="novalidate">
      <div class="col-md-12">
        <div style="display:none ;" class="alert alert-success" id="sendMessage"></div>
      </div>
      <div class="form-row">
        <div class="col-sm-6 control-group">
          <input type="text" class="form-control p-4" id="name" placeholder="Adınız" required="required"
            data-validation-required-message="Please enter your name" name="name" />
          <p class="help-block text-danger"></p>
        </div>
        <div class="col-sm-6 control-group">
          <input type="email" class="form-control p-4" id="email" placeholder="Email Adresiniz" required="required"
            data-validation-required-message="Please enter your email" name="email" />
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <input type="text" class="form-control p-4" id="subject" placeholder="Konu" required="required"
          data-validation-required-message="Please enter a subject" name="subject" />
        <p class="help-block text-danger"></p>
      </div>
      <div class="control-group">
        <textarea class="form-control p-4" rows="6" id="message" placeholder="Mesaj" required="required"
          data-validation-required-message="Please enter your message" name="message"></textarea>
        <p class="help-block text-danger"></p>
      </div>
      <div>
        <button class="btn btn-primary btn-block" type="submit" id="sendMessageButton">Mesaj Gönder</button>
      </div>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector('form')
  const sendMessage = document.querySelector('#sendMessage')
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const name = form.name.value
    const subject = form.subject.value
    const email = form.email.value
    const message = form.message.value
    try {
      const res = await fetch('/contact', {
        method: "POST",
        body: JSON.stringify({ name, subject, email, message }),
        headers: { "Content-Type": "application/json" }
      })
      const data = await res.json();
      console.log("DATA", data)
      if (data.succeeded) {
        sendMessage.textContent = "Mesajınız başarılı bir şekilde gönderildi"
        sendMessage.style.display = "block"
        setTimeout(() => {
          sendMessage.style.display = "none"
          form.name.value = ""
          form.subject.value = ""
          form.email.value = ""
          form.message.value = ""
        }, 3000)
      }
    } catch (err) {
      console.log("ERR::", err)
    }
  })
</script>